.pokemonFlexContainer {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  overflow-y: scroll;
  height: calc(100vh - 130px);

}
.pokemonFlexItem{
  text-decoration: none;
  flex-grow: 1;
  text-align: center;
  color: yellow;
  text-transform: capitalize;
  font: bold;
}
.input
{
  top: 0px;
  flex-grow: 1;
  height: 50px;
  font: bold;
  font-size: 32px;
  width: 2vw;
  background-color: yellow;
  text-align: center;
  text-decoration: none;
}
.mainDiv{
  text-align: center;
  text-transform: capitalize;
  color: yellow;
  font-size: 30px;
  background-image: url("SPACEbackground.gif");
  background-size: cover;
}
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: black;
  opacity: 1; /* Firefox */
}
.navbar{
  background-color: #333;
  height: 130px;
  top: 0px; 
  width:100%; 
}
.navbarFlexContainer{
  display: flex;
  background-color: #333;
}
.navbarTitle{
  font-size: 4vh;
}
img {
  width:200px;
  height:300px;
}